<h2>邮件分享</h2>
<%= form_tag '/send_mail', :html => {:method => "post"} do %>
  <p>发件人：<%= text_field_tag "from" %></p>
  <p>收件人：<%= text_field_tag "to" %> (*)</p>
  <p>主题：<%= text_field_tag "subject", @subject %></p>
  <p>内容：<%= text_area_tag "content", @content, :size => "80x20" %></p>
  <%= submit_tag "发送邮件" %>
<% end %>